.cardContainer{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
}

.cardTitle{
    text-align: center;
    padding-top: 2%;
    font-style:italic;
}
.cardDescription{
    text-align: center;
    padding-top: 4%;
}